/*Default Element Styles*/
:root {
  font-family: 'Flexo Demi', sans-serif;
  line-height: 1.5;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: 'Flexo Demi';
  src: url('/fonts/Flexo-Demi.woff2') format('woff2'),
       url('/fonts/Flexo-Demi.woff') format('woff');
  font-style: normal;
}

body {
  margin: 0;
}

p {
  color:black;
}

a {
  color:#f0f0f0;
  text-decoration: none;
}

.bodyContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

a:hover {
  color: black;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #f00000;
  color: #f0f0f0;

  height: 10vh;

  padding-left: 5px;
  padding-right: 5px;
}

.header {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-color: black;
}

.footer {
  border-top-style: solid;
  border-top-width: 10px;
  border-color: black;
}

